################################################################
## Example lambda command
## boilerplate from https://github.com/serverless/examples/blob/master/aws-node-typescript-rest-api-with-dynamodb/serverless.yml
################################################################
service: lambda-command # NOTE: update this with your service name

frameworkVersion: ">=1.28.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs10.x
  environment:
    DYNAMODB_TABLE: create-table
functions:
  create:
    handler: create.create
    events:
      - http:
          path: create
          method: post
          cors: true