version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      - image: larse514/circle-ci-node-docker:latest
    environment:
      - S3_BUCKET_NAME: "tf-state-command-query"
      - AWS_REGION: "us-east-1"
    steps:
    - checkout
    - run: 
        name: Configure AWS environment
        command: |
            aws configure set default.region us-east-1
            aws configure set default.output json
    - run: 
        name: deploy infra
        working_directory: /home/circleci/project/infrastructure
        command: |
          make deploy ENVIRONMENT=dev
    - run: 
        name: test infra
        working_directory: /home/circleci/project/infrastructure
        command: |
          make test ENVIRONMENT=dev
    - run: 
        name: command build
        working_directory: /home/circleci/project/command
        command: |
          npm run install-global-dependencies
          sudo npm install
          npm run test:cover
          npm run build
    - run: 
        name: command deploy dev
        working_directory: /home/circleci/project/command
        command: |
          npm run deploy-dev
    - run: 
        name: command integration
        working_directory: /home/circleci/project/command
        command: |
          npm run integration
    - run: 
        name: query build
        working_directory: /home/circleci/project/query
        command: |
          npm run install-global-dependencies
          sudo npm install
          npm run test:cover
          npm run build
    - run: 
        name: query deploy dev
        working_directory: /home/circleci/project/query
        command: |
          npm run deploy-dev
    - run: 
        name: query integration
        working_directory: /home/circleci/project/query
        command: |
          npm run integration